@import "./variabals.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: #ec0606;
  background: $background-color;

  color: $text-color;
  max-width: convertPX(1200);
  width: 83%;
  margin: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
